<h1>Search Results</h1>

<% if @results %>
  <% if @results.count > 0 %>
    <% @results.each do |result| %>
      <div>
        <%= result.email %> |
        <%= link_to "View profile", :controller => "page", :action => "profile", :id => result %> |
        <% unless result == current_user %>
          <%= link_to "Add friend", :controller => "page", :action => :send_friend_request, :id => result %> |
        <% end %>
        <%= link_to "Send message", page_settings_path %>
      </div>
    <% end %>
  <% else %>
    <h1>No results found</h1>
  <% end %>
<% else %>
  <h1>You did not search any user</h1>
<% end %>
